* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(254, 154, 143);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container h1 {
    font-size: 5rem;
    font-family: sans-serif;
}

.button button {
    padding: 1rem 2rem;
    margin: 1rem 0.4rem;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px 5px rgba(47, 47, 47, 0.183);
    transition: all 0.4s;
}

.button button:hover {
    background-color: black;
    color: white;
}

