* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 82, 82);
}

h1 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
    font-size: 3rem;
}

#cursor {
    width: 5rem;
    height: 5rem;
    background-color:rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    mix-blend-mode:difference;
    transition: all 0.2s linear; 
}